:root{
    --primary-light-red : 0, 100%, 67%;
    --primary-orangey-yellow: 39, 100%, 56%;
    --primary-green-teal: 166, 100%, 37%;
    --primary-cobalt-blue: 234, 85%, 45%;
    --gradiant-light-slate-blue : 252, 100%, 67%;
    --gradiant-light-royal-blue : 241, 81%, 54%;
    --gradiant-violet-blue-circle: 256, 72%, 46%, 1;
    --gradiant-persian-blue-circle : 241, 72%, 46%, 0;
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-Pale-blue : hsl(221, 100%, 96%);
    --neutral-light-lavendar : hsl(241, 100%, 89%);
    --neutral-dark-gray-blue : 224, 30%, 27%;
    font-size: 18px;
    font-family: 'Hanken Grotesk', sans-serif;


}
*{
    margin: 0px;
}
main{
    display: grid;
    place-items: center ;
    min-height: 100vh;

}
.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 12px;  
    border-radius: 25px;
    min-height: 400px;
    min-width: 600px;

}

.attribution{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.results{
    color: var(--neutral-white);
    background-image: linear-gradient( hsl(var(--gradiant-light-slate-blue)), hsl(var(--gradiant-light-royal-blue)));
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10%;
    flex-grow: 1;
    text-align: center;

}
.results h2{
    color: var(--neutral-light-lavendar);
    font-size: 1rem;
}

/* hsl(var(--gradiant-violet-blue-circle)) */
.rounded{
    background-image: linear-gradient(hsla(var(--gradiant-violet-blue-circle)) , hsla(var(--gradiant-persian-blue-circle)));
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rounded span:first-child{
    font-size: 3rem;
    font-weight: 800;
}
.rounded span:nth-child(2){
    font-size: .8rem;
    font-weight: 700;
    color: var(--neutral-light-lavendar);
}

.result-comment{
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    display: block;
}
.result-comment + p{
   width: 11rem;
   color: var(--neutral-light-lavendar);
   font-size: .8rem;
   word-wrap: break-word;
   text-align: center;
}

.summary{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10%;
    align-items: center;
    
    
}
.summary h2{
    align-self: flex-start;
    font-size: 1rem;
    color: hsl(var(--neutral-dark-gray-blue));
    
}
.all-stats{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.stat{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
    border-radius: 5px;
    padding: .5rem 1rem;
    font-size: .9rem;
    font-weight: 700;
    
}
.stat>div:first-child{
    display: flex;
    align-items: center;
}
img{
    margin-right: 10px;
}

.stat:first-of-type{
   color: hsl(var(--primary-light-red));
   background-color: hsla(var(--primary-light-red),.1);
  
   
  
}

.stat:nth-of-type(2){
    color: hsl(var(--primary-orangey-yellow));
    background-color: hsla(var(--primary-orangey-yellow),.1);
    
}
.stat:nth-of-type(3){
    color: hsl(var(--primary-green-teal));
    background-color: hsla(var(--primary-green-teal),.1);
   
}
.stat:nth-of-type(4){
    color: hsl(var(--primary-cobalt-blue));
    background-color: hsla(var(--primary-cobalt-blue),.1);
    
}
.score{
    color : hsl(var(--neutral-dark-gray-blue));
    
    font-weight: 800;
}

.score + span{
    color: hsla(var(--neutral-dark-gray-blue),.5);
    font-weight: 800;
    
}

button{
    background-color: hsl(var(--neutral-dark-gray-blue));
    padding: .8rem 2rem;
    border-radius: 100vw;
    color: var(--neutral-white);
    font-weight: 700;
    border: none;
    width: 100%;

}

button:hover,
button:focus-visible{
    /* background-color: hsl(var(--gradiant-violet-blue-circle)); */
    background-image: linear-gradient( hsl(var(--gradiant-light-slate-blue)), hsl(var(--gradiant-light-royal-blue)))
    
}
